


10/27 2-5
neal 30 min
alex 30 min
neal 30 min
alex 30 min
neal 30 min
alex 30 min

10/28 2-5
neal 30 min
alex 30 min
neal 30 min
alex 30 min
neal 30 min
alex 30 min

11/3 2-5
neal 30 min
alex 30 min
neal 30 min
alex 30 min
neal 30 min
alex 30 min

11/4 2-5
neal 30 min
alex 30 min
neal 30 min
alex 30 min
neal 30 min
alex 30 min

11/5
2-5 
neal 30 min
alex 30 min
neal 30 min
alex 30 min
neal 30 min
alex 30 min

11/6 2-4
neal 30 min
alex 30 min
neal 30 min
alex 30 min